$base-color: #15202b;
$link-color: #15202b;

.App {
    background-color: white;
    padding: 2em;
}

.App.dark {
    background-color: $base-color;
    color: white;
}

.addDarkMode {
    border: 0;
    margin-left: 1em;
    padding: 1em;
    background-color: white;
    cursor: pointer;
}



.addDarkMode.dark {
    background-color: $link-color;
    color: white
}