$base-color: black;
$link-color: black;

.App {
    background-color: white;
    padding: 2em;
}

.App.dark {
    background-color: $base-color;
    color: red;
}

.addDarkMode {
    border: 0;
    margin-left: 1em;
    padding: 1em;
    background-color: white;
    cursor: pointer;
}

.particles {
    position: fixed;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    color: black;
}

.addDarkMode.dark {
    background-color: $link-color;
    color: white;
}